<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>
<div class="container">
  <div class="row">
    <div class="editmode"><%=editmode[0]%></div>
    <table class="table table-hover group-table">
      <thead> 
        <tr scope="row">
          <th></th>
          <th><h1>Grupy Różańca</h1></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%groupList.forEach(function(rosaryGroup){%>
        <%if(editmode[0] === "single-edit-mode"&&editmode[1] === rosaryGroup.id){%>
          <!-- single edit mode view -->
          <tr>
            <td>
          <h3>Editing</h3>
          </td>
          </tr>
        <%}else{%>      
          <!-- normal view -->
        <tr scope="row">
          <td>.<%= rosaryGroup.order %></td>
          <td><a href="/czlonkowie/<%= rosaryGroup.id %>" class="btn-transp btn" role="button"><%= rosaryGroup.name %></a></td>
          <td>
          </td>
          <td>
            <div>
              <a class="edit-blt" href="/group/<%=rosaryGroup.id %>/edit">🖊️</a>
              <a class="edit-blt" href="/group/<%=rosaryGroup.id %>/up">⬆️</a>
              <a class="edit-blt" href="/group/<%=rosaryGroup.id %>/down">⬇️</a>
              <a class="edit-blt" href="/group/<%=rosaryGroup.id %>/delete">❌</a>
            </div>
          </td>
        </tr>
        <%}%>
        <%})%>
        <!-- create new group form -->
        <%if(editmode[0] === 'edit-mode-on'){%>
        <tr scope="row" >
          <form class="form-inline" action="/group" method="POST">
            <td>
              <label for="nazwa rozy">Nazwa:</label>
            </td>
            <td>
                <input type="text" name="name" class="form-control" placeholder="Enter name" id="nazwa rozy">
            </td>
            <td>
                <input type="checkbox"  class="toggle-act"  value="1" checked = "checked">
                <input type="hidden" value="1" class="toggle-hid" name="active" > 
            </td>
            <td>
              <button type="submit" class="btn btn-primary">Submit</button>
            </td>
          </form>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partial/footer'); -%>