<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>


<div class="container">
    <h2>Wspólnota Żywego Różańca Św. Kalendarz na rok 2021</h2>         
    <table class="table">
      <tbody>
        <tr>
          <td>Nr Róży. wezwanie zelator</td>
          <% heders.forEach(function(heder){ %>
            <td><%=heder%></td>
          <% });%>
          <% for (var i = 0; i < groupList.length; i++) {%>
            <tr>
            <td><%= groupList[i].name %></td>
            <!-- Nested loop below --> 
            <% for (var j = 0; j < eventList.length; j++) {%>
                <% if (groupList[i].id==eventList[j].rosaryGroup) { %>
                  <td></td>
                <% }%>
              
            <% } %>
                </tr>
          <% } %>
        </tr>
      </tbody>
    </table>
    <form action="/harmonogram" method="post">
      <input type="submit" value="Zsynchronizuj">
    </form>
  </div>
  

<%- include('../partial/footer'); -%>
