<%- include('../../partial/header'); -%>
<%- include('../../partial/navbar'); -%>
<div class="container">
  <div class="row">

    <table class="table table-hover">
      <thead>
        <tr scope="row">
          <th scope="col-1"></th>
          <th scope="col-11">
            <h1>Grupy Różańca</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <%groupList.forEach(function(rosaryGroup){%>
          
            <tr scope="row">
              <td><%= rosaryGroup.order %></td>
              <td><a href="/czlonkowie/<%= rosaryGroup.id %>"><%= rosaryGroup.name %></a></td>
              <td>
                <form action="/<%=rosaryGroup.id%>/delete" method="POST">
                  <button>Usuń</button></form>
              </td>
            </tr>
        <%})%>
        <tr scope="row">

            <form action="/" method="post">
              <td>nr</td>
              <td>
                <input type="text" name="name">
              </td>
              <td>
                <input type="radio" id="aktive" name="active" value='1'>
                <label for="aktive">Aktywne</label><br>
                <input type="radio" id="inaktive" name="active" value='0'>
                <label for="inaktive">Nieaktywne</label>
              </td> 
              <button type="submit" name="button">Add</button>
            </form>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('../../partial/footer'); -%>
